<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="ModelComponents" Directory="ModelsDir">
      <Component Id="WhisperModelComponent" Guid="B7E8F9A1-2C3D-4E5F-8A9B-0C1D2E3F4A5B">
        <File Id="WhisperModelBin" Source="!(bindpath.modelsource)\ggml-large-v3-turbo.bin" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
